.plugin-premium-users {
  > .row {
    padding-bottom: 20px;
  }

  h2 {
    text-transform: uppercase;
    color: var(--mainColor);
    font-weight: 700;
    font-size: 1rem;
    margin-bottom: 10px;
  }

  .button-md {
    padding: 10px 25px;
    font-size: 18px;
  }

  &.my-account {
    .grey-button.peertube-button-link {
      margin-right: 10px;
    }
  }

  &.become-premium {
    max-width: 800px;

    img {
      max-width: 160px;
      margin-bottom: 5rem;
    }

    .action-buttons {
      margin-top: 5rem;
      max-width: 300px;
    }
  }
}
